<h1><%= @employee.to_s %>, <%= @employee.title %></h1>
<h2><%= @employee.office %></h2>
<h3>Also Known As: <%= @employee.alias %></h3>
<h4>Owner of: <%= link_to @employee.dog.name, dog_path(@employee.dog) %></h4>
<%= image_tag @employee.img_url %>
