<h1><%= @employee.full_name %></h1>

<img src=<%="#{@employee.img_url}"%>>

<h3>Alias: <%= @employee.alias %></h3>
<h3>Title: <%= @employee.title %></h3>
<h3>Office: <%= @employee.office %></h3>
<h3>Dog name: <%= @employee.dog.name %></h3>
